{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akson supervision</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'supervision/supervision.js' %}">></script>
</head>
<body>
    <select id="user_select" name="select">
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.full_name }}</option>
        {% endfor %}
    </select>
    <div id="chart_div"></div>
    <a href="" id="save_chart">Zapisz wykres do pliku</a>
    <div id="table_div"></div>
    <div id="chart_unique_div"></div>
    <a href="" id="save_unique_chart">Zapisz wykres do pliku</a>
    <div id="table_unique_div"></div>
</body>
</html>
