option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: akson_db/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: akson_db.settings
packages:
  yum:
    gettext: []
container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01compilemessages:
    command: "django-admin.py compilemessages"
    leader_only: true
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_wsgiconf:
    command: 'cp ./wsgi.conf ../wsgi.conf'
