option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: akson_db/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: akson_db.settings

packages:
  yum:
    gettext: []

container_commands:
  00npm:
    command: "yum install npm --enablerepo=epel"
  01webpack:
    command: "cd analyzer; ./initialize; webpack; cd .."
  02collectstatic:
    command: "django-admin.py collectstatic --noinput"
  03compilemessages:
    command: "django-admin.py compilemessages"
    leader_only: true
  04migrate:
    command: "django-admin.py migrate"
    leader_only: true
  05_wsgiconf:
    command: "cp .ebextensions/wsgi.conf ../wsgi.conf"

