files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/akson_db.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/akson_db.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/akson_db.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/akson_db.log
