commands:
  00_create_dir:
    command: mkdir -p /var/log/akson
  01_change_permissions:
    command: chmod g+s /var/log/akson
  02_change_owner:
    command: chown wsgi:wsgi /var/log/akson
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/akson_db.conf" :
    mode: "000755"
    owner: wsgi
    group: wsgi
    content: |
      /var/log/akson/akson_db.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/akson_db.conf" :
    mode: "000755"
    owner: wsgi
    group: wsgi
    content: |
      /var/log/akson/akson_db.log
