commands:
  00_create_file:
    command: touch /var/log/akson_db.log
  01_change_permissions:
    command: chmod g+s /var/log/akson_db.log
  02_change_owner:
    command: chown wsgi:wsgi /var/log/akson_db.log
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/akson_db.conf" :
    mode: "000755"
    owner: wsgi
    group: wsgi
    content: |
      /var/log/akson_db.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/akson_db.conf" :
    mode: "000755"
    owner: wsgi
    group: wsgi
    content: |
      /var/log/akson_db.log
